#Rails
# teg <%= %>
snippet =
	<%= ${1} %>
# teg <% %>
snippet -
	<% ${1} %>
# link_to
snippet link
	<%= link_to ${1:name}, ${2:url} %>
# render partial
snippet render
	<%= render partial: ${1:name} %>

snippet table
	<table>
		<tr>
			<th>${2:Header}</th>
		</tr>
		<tr>
			<td>${3:Data}</td>
		</tr>
	</table>${4}
